/* *** COMMONS *** */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix:after{
    content: '';
    display: table;
    clear: both;
}


/* *** HEADER *** */

nav{
    text-align: center;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
}

nav ul li{ 
    margin: 10px 20px;
    padding: 10px;
    width: 40px;
    height: 40px;
    list-style: none;
    background-color: lightgray;
    border-radius: 50%;
    float: left;
    box-shadow: 5px 5px 10px gray;
}

li a{
    text-decoration: none;
    font-weight: 700;
}





/* *** MAIN *** */


main{
    text-align: center;
}

main .misure{
    height: 100vh;
    position: relative;
}

main .description{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



#shoes-one{
    background-color: red;
}
#shoes-two{
    background-color: green;
}
#shoes-three{
    background-color: yellow
}

main h2{
    color: yellow;
    width: 50%;
    margin: auto;
    font-size: 36px;
    text-transform: uppercase;
}

#shoes-three h2{
    color: green;
}





/* *** FOOTER *** */

